body {
    background-color: #CCFF65;
    
}

form {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

h2 {
    color: red;
}

.form-group {
    margin-top: 1rem;
}

.submit-btn {
    background: linear-gradient(to right, #ff9966, #ff5e62);
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    position: relative;
    overflow: hidden;
    margin: 2rem;
}

.submit-btn:hover {
    transform: scale(1.05);
}

.submit-btn:after {
    content: '→';
    font-family: Arial, sans-serif;
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: right 0.3s ease;
}

.submit-btn:hover:after {
    right: 10px;
}
.textarea {
    width: 350px;
}

textarea {
    width: 100%;
}

h2 {
    margin-bottom: 0;
}